<mat-card>
  <button mat-fab class="page-action" [routerLink]="['/question/add']">
    <mat-icon class="mat-24">add</mat-icon>
  </button>

  <mat-card-title>Questions</mat-card-title>
  <mat-card-content class="flex-container"  
   fxLayoutWrap="wrap"  fxLayout="row wrap"  
    fxLayoutAlign="center" fxLayoutAlign.xs="start">    
  <!-- <mat-card-content >     -->

  <mat-card *ngFor="let question of questions" class="flex-item question-card">
    <mat-card-header>
      <mat-card-title>
        <h4 *ngFor="let category of question.categories">
          {{category.categoryName}}
        </h4>
      </mat-card-title>
      <mat-card-subtitle>
        {{question.questionText}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>    
    
      <mat-list>
      <mat-list-item *ngFor="let answer of question.answers" [class.correct]="answer.correct">
        <h4 mat-line> {{answer.answerText}}</h4>
          <!-- <mat-icon end *ngIf="answer.correct" mat-list-icon>check</mat-icon> -->
        </mat-list-item>
      </mat-list>

      <mat-chip-list class="">
          <mat-chip *ngFor="let tag of question.tags" selected>
            {{tag}}
          </mat-chip>
        </mat-chip-list>
    </mat-card-content>
  </mat-card>
  </mat-card-content>    
</mat-card>